/* Classes */
.card {
    font-size: 1.2rem;
    max-width: 200px;
    margin: auto;
}

.card,
.modal-content {
    background: rgb(232, 232, 200);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

/* Ids */
#computer-realistic {
    border-radius: 20px;
    max-width: 350px;
}

#interests,
#profile {
    text-align: center;
}

#about-me-intro,
#services-intro,
.blockquote,
.work-content {
    background: linear-gradient(90deg,
            rgba(232, 232, 200, 1) 0%,
            rgba(226, 226, 177, 1) 35%,
            rgba(207, 207, 146, 1) 100%);
}

/* Media Queries */
@media screen and (max-width: 991px) {
    nav ul {
        margin: auto;
    }
}