__benchmarks__
_SpecRunner.html
.DS_STORE
.env
.env.backup
.env.production
.flowconfig
.grunt
.module-cache
.phpactor.json
.phpunit.result.cache
*.env
*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
/.fleet
/.idea
/.nova
/.vscode
/.zed
/node_modules
/vendor
build/
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
Homestead.json
Homestead.yaml
npm-debug.log
remote-repo/
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js
yarn-error.log